body, html {
  height: 100dvh;
  width: 100dvw;
  background: #000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  padding: 10px;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page{
  width: 400px;
  height: auto;
}

.page-content {
  width: 400px;
  height: auto;
}

.page-header {
  font-size: 10px;
}

.page-text {
  font-size: 15px;
}

.page-cover {
  width: 370px;
  height: 100%;
  background-image: url("https://github.com/Allyssaur/PortfolioNodeFix/blob/main/GDPortfolio/src/assets/ArtistGuidePages.png?raw=true");
  background-size: 370px 100%;
  background-repeat: no-repeat;
  z-index: 1;
}

.page1 {
  width: 370px;
  height: 100%;
  background-image: url("https://github.com/Allyssaur/PortfolioNodeFix/blob/main/GDPortfolio/src/assets/ArtistGuidePages2.png?raw=true");
  background-size: 370px auto;
}

.card {
  padding: 1em;
}

.demoPage {
  width: 370px;
  height: 400px;
  color: #000;
}
