#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.page-content {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 370px;
  height: 500px;
  color: white;
}

.cover {
  font-weight: bold;
  background-image: url("https://github.com/Allyssaur/PortfolioNodeFix/blob/main/GDPortfolio/src/assets/ArtistGuidePages.png?raw=true");
  background-size: 370px 500px;
}

.page2 {
  background-image: url("")
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.demoPage {
  background: #fff;
  color: #000;
}